<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .authors {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .authors tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .authors td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
<h3>Books:</h3>

<div class="errors" th:if="${errorMessage}" th:text="${errorMessage}">Error</div>

<a th:href="@{/books/add}">Add new book</a>

<table class="authors">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genres</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">John Doe</td>
        <td th:text="${book.author.fullName}">John Doe</td>
        <td>
            <span th:each="genre, iStat : ${book.genres}" th:text="${genre.name} + (${iStat.last} ? '' : ', ')" />
        </td>
        <td>
            <a th:href="@{/books/edit(id=${book.id})}">Edit</a>
            <form action="#" method="post" th:action="@{/books/delete(id=${book.id})}" th:object="${book}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
