<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit author</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

        .errors {
            color: red;
        }
    </style>
</head>
<body>

<div class="errors" th:if="${errorMessage}" th:text="${errorMessage}">Error</div>

<form id="edit-form" action="edit.html" th:method="post" th:action="@{/authors/edit/{id}(id=${author.id})}" th:object="${author}">
    <h3>Author Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="author-name-input">Full name:</label>
        <input id="author-name-input" name="fullName" type="text" value="John Doe" th:value="*{fullName}"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/authors}"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>
